{% load staticfiles %}
{% load catalog_filters %}
<div class="row description_product detail" >
	<form method="post" action="" class="cart" id="cart">
   <div class="col-md-4 ">
      <h5> {{ form_cart.quantity.label }}</h5>
   </div>
   <div class="col-md-3 form-group" >
      {{ form_cart.quantity }}
   </div>
   <div class="col-md-5 help_line" id = '{{ form_cart.quantity.name  }}_error'>
	   {{ form_cart.quantity.errors  }}
   </div>
</div>
<div class="row detail description_product  ">
	<div class="col-md-12 des">
		<h5>Описание:</h5>
	</div>

</div>
<div class="row detail">
	<div class="col-md-12">
		<p class="description_name">{{ p.description }}</p>
	</div>

</div>
<div class="row price_cart detail">
                <div class="col-md-6 ">
                    <div class="price"> {{ p.price|currency }}</div>
                </div>
                <div class="col-md-6 add_cart">
                    <form method="post" action="" class="cart" id="cart">
                        {% csrf_token %}
                        <button type="submit" id="fly" class="btn pull-right" >
	                        В корзину  <i class="glyphicon glyphicon-shopping-cart icon-white"></i>
                        </button>
	                    {{ form_cart.product_slug }}

                    </form>
	                <a id="go_cart" class="pull-right" href="{% url 'show_cart' %}">Перейти в корзину <i class="glyphicon glyphicon-shopping-cart icon-white"></i></a>
                </div>
            </div>