{% load staticfiles %}
<div class="modal fade" id="sign_up_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog my_modal">
        <div class="modal-content my_modal_content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Вход на сайт</h4>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" id="login-or-register">
                    <li class="active"><a href="#login-tab" data-toggle="tab" id="li_login">Авторизация</a></li>
                    <li ><a href="#register" data-toggle="tab" id="li_register">Регистрация</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="login-tab">
                        <div class="alert alert-danger" id = "login_errorlist">
                            <h5></h5>
                            <div class="error_description">
                            </div>
                        </div>
                        <form method="post" action="{% url 'login' %}" id="login_form">
                            {% csrf_token %}
                            <span class=" reg_label">
	                            <label class="label_name">
	                                {{ auth_form.username.label }}:
	                            </label>
                            </span>
                            <span class="reg_form">
                                {{ auth_form.username }}
                            </span>
                            <span class=" reg_label">
	                            <label class="label_name">
	                                {{ auth_form.password.label }}:
	                            </label>
                            </span>
                            <span class="reg_form">
                                {{ auth_form.password }}
                            </span>
	                        <hr>
	                        <div class="social-text">
	                            <p>
	                                Для входа на сайт вы можете также использовать свой аккаунт в одном из этих сервисов:
	                            </p>
	                        </div>
	                        <div class="social-icon center-block " id="parent">
	                            <div class="child">
		                            <a href="{% url 'socialauth_begin' 'vk-oauth' %}?next={{ request.path }}">
	                                    <img src="{% static "image/social/vk.png" %}" class="img-social">
			                        </a>
	                            </div>
	                            <div class="child">
		                            <a href="{% url 'socialauth_begin' 'facebook' %}?next={{ request.path }}">
	                                    <img src="{% static "image/social/fb.png" %}" class="img-social">
			                        </a>
	                            </div>
	                            {% comment %}<div class="child">
		                            <a href="{% url 'socialauth_begin' 'github' %}?next={{ request.path }}">
	                                    <img src="{% static "image/social/gh.png" %}" class="img-social">
			                        </a>
	                            </div>{% endcomment %}
	                            <div class="child">
		                            <a href="{% url 'socialauth_begin' 'odnoklassniki' %}">
	                                    <img src="{% static "image/social/ok.png" %}" class="img-social">
			                        </a>
	                            </div>

	                        </div>
	                        <div class="modal-footer">
	                            <input type="hidden" name="next" value="{{ request.path }}" />
	                            <button type="submit" class="btn btn-primary " id = "login_button">Войти</button>
	                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
	                        </div>
	                    </form>
                    </div>
                    <div class="tab-pane" id="register">
                        <form action="{% url 'register_ajax' %}" method="post" id = "reg_form">
                            {% csrf_token %}
                            <span class=" reg_label">
	                            <label class="label_name">
	                                {{ reg_form.name.label }}:
	                            </label>
                            </span>
                            <span class="reg_form">
                                {{ reg_form.name }}
                            </span><span class="help-block errors_text"  id = '{{ reg_form.name.name  }}_error'></span>
                            <span class="help-block">
                                {{ reg_form.name.help_text }}
                            </span>

                            <span class="reg_label">
	                            <label class="label_name">
	                            {{ reg_form.email.label }}:
	                            </label>
                            </span>
                            <span class="reg_form">
                                {{ reg_form.email }}
                            </span>
                            <span class="help-block errors_text"  id = '{{ reg_form.email.name  }}_error'></span>
	                        <span class="help-block">
                                {{ reg_form.email.help_text }}
                            </span>
                            <span class="reg_label">
	                            <label class="label_name">
	                            {{ reg_form.password1.label }}:
	                            </label>
                            </span>
                            <span class="reg_form">
                                {{ reg_form.password1 }}
                            </span>
                            <span class="help-block">
                                {{ reg_form.password1.help_text }}
                            </span>
	                        <span class="help-block errors_text"  id = '{{ reg_form.password1.name  }}_error'></span>
                            <span class="reg_label">
	                            <label class="label_name">
	                                {{ reg_form.password2.label }}:
	                            </label>
                            </span>
                            <span class="reg_form">
                                {{ reg_form.password2 }}
                            </span>
                            <span class="help-block errors_text"  id = '{{ reg_form.password2.name  }}_error'></span>
                            <div class="modal-footer">
	                            <input value="" type="hidden" name="next_page">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                <button type="submit" class="btn btn-primary " id = "reg_button">Зарегестрироваться</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>