{% load staticfiles %}
<div class="modal fade" id="robokassa_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog my_modal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Способы оплаты</h4>
            </div>
            <div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<img src="{% static "image/robokassa-valuta.jpg" %}" class="img-responsive">
					</div>
				</div>
            </div>
        </div>
    </div>
</div>