{% extends "catalog/catalog_base.html"%}
{% block other_scripts  %}
	<script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}bootstrap/js/store_js/yandex_maps.js" type="text/javascript"></script>
{% endblock %}
{% block page_header %}
	<h1 class="page-header">О нас </h1>
{% endblock %}
{% block main_content %}
	<div class="row">
	    <div id="map" class="col-md-6"></div>
	    <div class="col-md-6">
	        <div class="about_description">
	            <h3>Магазин находтся по адресу:</h3>
	            <p>г.Воронеж ул.Ломоносова 114/8</p>
	            <h3>Время работы:</h3>
	            <p>пн-пт с 8-00 до 21-00</p>
	        </div>
	    </div>
	</div>
{% endblock %}

