{% extends "base_main.html" %}
{% load catalog_tags %}
{% load staticfiles %}
{% block content %}
<div class="container_r">
   <!-- Page Heading/Breadcrumbs -->
   <div class="row">
      <div class="col-md-12">
         <!-- Content Row -->
         <div class="col-md-9" style="padding-right: 0px">
            {% block page_header %}
            {% endblock %}
            {% block main_content %}{% endblock %}
         </div>
         <div class="sidebar col-md-3" style="padding-left: 40px">
            <div class="row">
               <h3 style="font-size: 25px">Поиск по каталогу </h3>
               <form class="form-search">
                  <input type="text" class="form-control" placeholder="Поиск по каталогу">
               </form>
            </div>
            <div class="row" >
               <div class="">
                  <h3 style="font-size: 30px">Категории</h3>
                  {% category_list request.path %}
               </div>
            </div>
            <hr>
            <div class="row">
               <h3>BEST SELLERS</h3>
               <div class="col-md-6">
                  <a href="#"> <img src="{% static "image/products/thumbnails/11q.jpg" %}" ></a>
               </div>
               <div class="col-md-6">
                  <a href="#"><img src="{% static "image/products/thumbnails/10q.jpg"  %}"></a>
               </div>
            </div>
            [Best seller here]
         </div>
         <!-- Content Column -->
      </div>
      <!-- /.row -->
   </div>
</div>
{% endblock %}