{% extends "base_main.html" %}
{% load catalog_tags %}
{% load staticfiles %}
{% load search_tags %}
{% block other_scripts %}
	 <script src="{{ STATIC_URL }}bootstrap/js/store_js/catalog.js"></script>
{% endblock %}
{% block content %}
<div class="container_r">
   <!-- Page Heading/Breadcrumbs -->
   <div class="row">
      <div class="col-md-12">
         <!-- Content Row -->
         <div class="col-md-9 main_content">
            {% block page_header %}
            {% endblock %}
            {% block main_content %}{% endblock %}
         </div>
         <div class="sidebar col-md-3 left_sidebar">
            <div class="row search">
               <h3>Поиск по каталогу </h3>
				{% search_box request %}
            </div>
            <div class="row" >
               <div>
                  <h3 class="category_names">Категории</h3>
                  {% category_list request.path %}
               </div>
            </div>
            <hr>
            <div class="row">
               <h3>BEST SELLERS</h3>
               <div class="col-md-6">
                  <a href="#"> <img src="{% static "image/products/thumbnails/11q.jpg" %}" ></a>
               </div>
               <div class="col-md-6">
                  <a href="#"><img src="{% static "image/products/thumbnails/10q.jpg"  %}"></a>
               </div>
            </div>
            [Best seller here]
         </div>
         <!-- Content Column -->
      </div>
      <!-- /.row -->
   </div>
</div>
{% endblock %}