{% extends "catalog/catalog_base.html" %}
{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/store_styles/category.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/store_styles/product_thumbnail.css">
{% endblock %}
{% block page_header %}
	<h1 class="page-header">{{ c.name }}</h1>
{% endblock %}
{% block main_content %}
	<div id="fon"></div>
	<div id="load"></div>
	<div class="row sort_choice ">
	    <div class="sort">
		    <div class="col-md-3 col-sm-4 sorts col-xs-5">
			   Сортировать по :
		    </div>
		    <div class="col-md-2 col-sm-3 sort_name col-xs-4">
			    <span class="sort_n" id ="name">
	                Названию<i id="my_glyphicon_name" class="glyphicon glyphicon-arrow-up icon-arrow-up"></i>
			    </span>
		    </div>
		    <div class="col-md-2 col-sm-3 sort_price col-xs-3">
			    <span class="sort_p" id="price">
		            Цене<i id="my_glyphicon_price" class="glyphicon glyphicon-arrow-up icon-arrow-up"></i>
		        </span>
		    </div>
	    </div>
	</div>
	<div class="container_r">
		<div class="row" id = "show_products">
			<div class="row">
				{% include 'tags/product_thumbnail.html' %}
			</div>
		</div>
	</div>
	{% include "tags/show_product_modal.html" %}
{% endblock %}