{% extends "catalog/catalog_base.html" %}
{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/store_styles/product.css">
{% endblock %}
{% load staticfiles %}
{% block main_content %}
<div class="">
    <div class="row product_detail">
        <h2>{{ p.name }}</h2>
        <hr>
        <!-- Product Image & Available Colors -->
        <div class="col-md-7 image_detail" >
            <div class="thumbnail" id="links">
                <a  title="{{ p.name }}" href="{% static p.image %}" data-gallery><img id="target" class="img-responsive" src="{% static p.image.url %}" alt=""></a>
            </div>
        </div>
        <!-- End Product Image & Available Colors -->
        <div class="col-md-5 product_info">
            <div class="row weight_time">
                <div class="col-md-6 weight">
                    <div class="row">
                        <div class="col-md-4 weight_img">
                            <img class="img-responsive" style="" src="{% static "bootstrap/img/weight-scales-icon2.png" %}">
                        </div>
                        <div class="col-md-3 weight_word">
                            <span style="font-size: 20px"> Вес: </span>
                        </div>
                        <div class="col-md-5 {% if p.max_weight and p.min_weight  %} weight_count_choice{% else %}weight_count {% endif %}">
                            {% if p.max_weight and p.min_weight %}
                            <input type="text" id="minCost"  value="1"readonly/> <span>кг</span>
                            {% else %}
                            {{ p.weight }}кг
                            {% endif %}
                        </div>
                    </div>
                    {% if p.max_weight and p.min_weight %}
                    <div class="row slider_weight">
                        <div id="slider" class="slider"></div>
                    </div>
                    {% endif %}
                </div>
                <div class="col-md-2">
                    <img class="img-responsive" src="{% static "bootstrap/img/w512h5121390855838watch5121psd.png" %}">
                </div>
                <div class="col-md-4 time_info"><b>Срок хранения</b> 12 суток</div>
            </div>
            <div class="row description_product">
                <div class="col-md-12">
                    {% if p.consist %}
                    <h5>Описание:</h5>
                    <p>
                        {{ p.consist }}
                    </p>
                    {% else %}
                    <h5>Описание:</h5>
                    <p>
                        {{ p.description }}
                    </p>
                    {% endif %}
                </div>
            </div>
            <div class="row choice_filling">
                {% if p.max_weight and p.min_weight %}
                <div class="col-md-5">
                    <p><b>Выбор начинки:</b></p>
                </div>
                <div class="col-md-7">
                    <select class="form-control pull-right">
                        <option>Бисквит</option>
                        <option>Шоколад с карамелью</option>
                    </select>
                </div>
                {% endif %}
            </div>
            <div class="row price_cart">
                <div class="col-md-6">
                    <div class="price"> 1 200<span style="font-size: 22px">p</span></div>
                </div>
                <div class="col-md-6 add_cart">
                    <form method="post" action="." class="cart" style="">
                        {% csrf_token %}
                        <input id="id_product_slug" name="product_slug" value="{{ p.slug}}"  type="hidden">
                        <button type="submit" id="fly" class="btn pull-right" >
	                        В корзину  <i class="glyphicon glyphicon-shopping-cart icon-white"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title"></h3>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">{{ p.name }}</h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}